<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/library.css">
    <style>
        .spinnerModal {
            width: 50%;
            height: 50%;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        /* Adjust modal stacking */
        .modal-backdrop {
            z-index: 1040 !important;
        }

        #uploadModal {
            z-index: 1050 !important;
        }

        #spinnerModal {
            z-index: 1060 !important;
            /* Spinner modal should appear on top */
        }

        /* Spinner container */
        .spinner-animation {
            display: flex;
            justify-content: center;
            align-items: center;
            /* Full page height */
            background-color: rgba(255, 255, 255, 0.8);
            /* Slightly transparent background */
        }

        #loading-text {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            color: black;
            /* Make sure the text is black for visibility */
        }

        #spinner-logo {
            width: 80px;
            height: 80px;
            animation: bounce 1.5s infinite;
        }

        @keyframes bounce {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <h4>Library</h4>

        <!-- Subject Tabs -->
        <div class="tab-container">
            <ul class="nav nav-tabs" id="subjectTabs" role="tablist">
                <!-- Subject tabs will be loaded here dynamically -->
            </ul>
        </div>

        <!-- Tab Content for Topics -->
        <div class="tab-content" id="subjectTabsContent">
            <!-- Topic cards will be loaded dynamically here -->
        </div>
        <!-- Other Modals -->
        <!-- Modal for Adding New Subject -->
        <div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="addSubjectModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSubjectModalLabel">Add New Subject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="newSubjectName" class="form-control" placeholder="Enter subject name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addNewSubject()">Add Subject</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Adding New Topic -->
        <div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="addTopicModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTopicModalLabel">Add New Topic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="newTopicName" class="form-control" placeholder="Enter topic name">
                        <textarea id="newTopicDescription" class="form-control mt-3"
                            placeholder="Enter topic description" rows="4"></textarea>
                        <input type="hidden" id="currentSubjectId">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addNewTopic()">Add Topic</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Uploading Study Material -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Upload Study Material</h5>
                        <div id="sub_topic">
                            <!-- Hidden subjectID and topicID -->
                            <div id="subjectID" style="display: none;"></div>
                            <div id="topicID" style="display: none;"></div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- This is where the upload.html content will be loaded -->
                        <div id="uploadModalContent">
                            <div class="container-fluid mt-4">
                                <!-- Tabs for Study Material Types -->
                                <ul class="nav nav-tabs" id="materialTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="plain-text-tab" data-toggle="tab"
                                            href="#plain-text" role="tab" aria-controls="plain-text"
                                            aria-selected="true">Plain Text</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pdf-tab" data-toggle="tab" href="#pdf" role="tab"
                                            aria-controls="pdf" aria-selected="false">PDF Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab"
                                            aria-controls="notes" aria-selected="false">Handwritten Notes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="youtube-tab" data-toggle="tab" href="#youtube"
                                            role="tab" aria-controls="youtube" aria-selected="false">YouTube Video</a>
                                    </li>
                                </ul>

                                <!-- Tab Content Area -->
                                <div class="tab-content" id="materialTabContent">
                                    <!-- Plain Text Tab -->
                                    <div class="tab-pane fade show active" id="plain-text" role="tabpanel"
                                        aria-labelledby="plain-text-tab">
                                        <div class="form-group">
                                            <!-- Textbox for the title -->
                                            <label for="plainTextTitle">Title:</label>
                                            <input type="text" class="form-control" id="plainTextTitle"
                                                placeholder="Enter the title for your text">
                                            <label for="plainTextTitle">Study Material:</label>
                                            <textarea class="form-control" id="plainTextInput"
                                                placeholder="Write or paste the text here..."></textarea>
                                            <small id="characterCount" class="character-count">0 characters</small>
                                        </div>
                                    </div>

                                    <!-- PDF Upload Tab -->
                                    <div class="tab-pane fade" id="pdf" role="tabpanel" aria-labelledby="pdf-tab">
                                        <!-- Textbox for the title -->
                                        <label for="plainPDFTitle">Title:</label>
                                        <input type="text" class="form-control" id="plainPDFTitle"
                                            placeholder="Enter the title for your text">
                                        <div class="upload-area" id="pdfUploadArea"
                                            onclick="document.getElementById('pdfFileInput').click();">
                                            <p id="uploadPDFInstructions">Drag and drop a PDF file here, or click to select
                                                a
                                                file.</p>
                                            <input type="file" id="pdfFileInput" accept="application/pdf"
                                                style="display: none;">
                                            <!-- Preview area for the selected PDF file -->
                                            <div id="pdfFilePreview" class="file-preview"></div>
                                        </div>
                                    </div>
                                    <!-- Handwritten note Upload Tab -->
                                    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                                        <!-- Textbox for the title -->
                                        <label for="plainNotesTitle">Title:</label>
                                        <input type="text" class="form-control" id="plainNotesTitle"
                                            placeholder="Enter the title for your notes">
                                        <div class="upload-area" id="notesUploadArea"
                                            onclick="document.getElementById('notesFileInput').click();">
                                            <p id="uploadnotesInstructions">Drag and drop your notes here, or click to
                                                select a file.</p>
                                            <input type="file" id="notesFileInput" accept="image/*"
                                                style="display: none;">
                                            <!-- Preview area for the selected Image file -->
                                            <div id="notesFilePreview" class="file-preview"></div>
                                        </div>
                                    </div>
                                    <!-- YouTube Video Upload Tab -->
                                    <div class="tab-pane fade" id="youtube" role="tabpanel"
                                        aria-labelledby="youtube-tab">
                                        <div class="upload-area" id="youtubeUploadArea">
                                            <input type="text" id="youtubeInput" class="form-control"
                                                placeholder="Paste or type a YouTube video link...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- Add to Application Button -->
                        <button class="btn btn-primary add-to-application-btn" id="addToApplicationBtn">Add to
                            Library</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Spinner Modal for Upload Progress -->
        <div class="modal fade" id="spinnerModal" tabindex="-1" role="dialog" aria-labelledby="spinnerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="spinner-animation">
                            <img src="../static/images/logo.png" alt="logo" id="spinner-logo" />
                        </div>
                        <p id="loading-text" class="text-center mt-3">Uploading, please wait...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/library.js"></script>
    <script src="../static/common.js"></script>
    <script src="../static/lib-upload.js"></script>

</body>

</html>